/* ----------------------Resets */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* Box Model */
  margin: 0;
  padding: 0;
}

a {
  /* Typography */
  text-decoration: none;
}

img {
  /* Typography */
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  /* Typography */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
